/* header styling */

header {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    a {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;       
    }

    nav {
        display: flex;
        gap: 15px;

        a {
            font-size: 1rem;
            color: #b41d1d;
        }
    
        a:hover {
            color: #000000
        }
    }
}

main {
    padding: 70px
}

h1 {
    color: #b41d1d;
}
